.sors-blog {
  position: relative;
  padding-bottom: 210px;
}

.sors-blog_title {
  position: relative;
  background: #fbfbff;
  height: 100px;
  display: flex;
  align-items: center;
}

.sors-title_grid {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sors-blog_title h1 {
  font-size: 34px;
  font-weight: 400;
  color: #333333;
}

.sors-blog_grid {
  margin-top: 50px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 20px;
}

.blog-content_date {
  padding: 0 15px 15px;
  font-weight: 400;
  color: rgba(31, 46, 98, 0.5);
}

.blog-content_desc {
  height: calc(100% - 210px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.blog-post {
  position: relative;
  padding: 41px 0 0;
}

.blog-post_bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 400px;
  background: #1f1952;
}

.return-link {
  margin-bottom: 50px;
  position: relative;
  display: flex;
  align-items: center;
}

.return-link a {
  display: flex;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
}

.return-link a::before {
  content: "";
  display: inline;
  width: 8px;
  height: 12px;
  margin-right: 19px;
  background: url("../icons/icon-right.svg");
}

.post-title {
  margin-bottom: 50px;
}

.post-title_text {
  max-width: 50%;
  font-weight: 500;
  font-size: 22px;
  color: #ffffff;
}

.post-title_date {
  color: rgba(255, 255, 255, 0.5);
}

.post-media {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  align-items: flex-start;
}

.post-media_content .post-image {
  position: relative;
  width: 100%;
  height: 340px;
  margin-bottom: 40px;
  border-radius: 5px;
  overflow: hidden;
}

.post-media_content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-media_text p {
  margin-bottom: 40px;
  color: rgba(51, 51, 51, 0.8);
}

.post-media_text p:last-child {
  margin-bottom: 0;
}

.post-media_social {
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  border-radius: 10px;
}

.media-social_title {
  margin-bottom: 38px;
  color: #ffffff;
}

.post-media_social .d-flex {
  align-items: center;
}

.post-media_social a {
  display: block;
  margin-right: 35px;
}

@media screen and (max-width: 1024px) {
  .sors-title_grid {
    flex-direction: column;
    align-items: flex-start;
  }
  .sors-blog_title {
    height: 160px;
  }
  .sors-blog_title h1 {
    margin-bottom: 25px;
  }
  .sors-blog_grid {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .post-title_text {
    max-width: 100%;
  }
  .post-media {
    grid-template-columns: 1fr;
  }
  .post-media_social {
    grid-row: 1;
  }
  .blog-post_bg {
    height: 560px;
  }
  .media-social_title {
    margin-bottom: 20px;
  }
}
