i {
  display: inline-block;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
}

.icon-dash {
  width: 18px;
  height: 20px;
  background: url("../icons/icon-dash.svg");
  transition: 250ms ease;
}

.icon-success {
  width: 32px;
  height: 32px;
  background: url("../icons/icon-success.svg");
}

.icon-pending {
  width: 32px;
  height: 32px;
  background: url("../icons/icon-pending.svg");
}

.icon-rejected {
  width: 32px;
  height: 32px;
  background: url("../icons/icon-rejected.svg");
}

.icon-info {
  width: 18px;
  height: 18px;
  -webkit-mask-image: url("../icons/icon-info.svg");
  mask-image: url("../icons/icon-info.svg");
  background: rgba(51, 51, 51, 0.2);
}

.icon-info.icon-info_red {
  background: #f26a6a;
}

.icon-delete {
  width: 15px;
  height: 16px;
  background: url("../icons/icon-delete.svg");
}

.icon-watch {
  width: 20px;
  height: 14px;
  background: url("../icons/icon-watch.svg");
}

.icon-right {
  width: 7px;
  height: 12px;
  background: url("../icons/icon-right.svg");
}

.icon-right_white {
  width: 7px;
  height: 11px;
  background: url("../icons/icon-right_white.svg");
}

.icon-down {
  width: 12px;
  height: 7px;
  background: url("../icons/icon-down.svg");
}

.icon-eth {
  width: 13px;
  height: 22px;
  -webkit-mask-image: url("../icons/icon-eth.svg");
  mask-image: url("../icons/icon-eth.svg");
  background: #000000;
}

.icon-btc {
  width: 17px;
  height: 24px;
  -webkit-mask-image: url("../icons/icon-btc.svg");
  mask-image: url("../icons/icon-btc.svg");
  background: #000000;
}

.icon-ltc {
  width: 16px;
  height: 20px;
  -webkit-mask-image: url("../icons/icon-ltc.svg");
  mask-image: url("../icons/icon-ltc.svg");
  background: #000000;
}

.icon-usd {
  width: 13px;
  height: 24px;
  -webkit-mask-image: url("../icons/icon-usd.svg");
  mask-image: url("../icons/icon-usd.svg");
  background: #000000;
}

.icon-close {
  width: 24px;
  height: 24px;
  -webkit-mask-image: url("../icons/icon-close.svg");
  mask-image: url("../icons/icon-close.svg");
  background: rgba(0, 0, 0, 0.5);
}

.icon-download {
  width: 21px;
  height: 17px;
  background: url("../icons/icon-download.svg");
}
