.container {
  position: relative;
  max-width: 1180px;
  margin: 0 auto;
  width: 100%;
}

.relative {
  position: relative;
}

.input-group {
  position: relative;
}

.input {
  background: #ffffff;
  border: 1px solid rgba(51, 51, 51, 0.1);
  box-sizing: border-box;
  border-radius: 5px;
  height: 40px;
  width: 250px;
  padding: 10px 42px 8px 15px;
  font-size: 17px;
  font-weight: 400;
  font-family: 'Circular Std';
  color: #000000;
}

.input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.input-group label {
  position: relative;
  display: block;
}

.input-group label.required::after {
  content: ' *';
  color: #f26a6a;
}

.input-group_flabel .input {
  padding-right: 60px;
}

.input-flabel {
  position: absolute;
  right: 4px;
  top: 4px;
  height: 32px;
  /* width: 52px; */
  padding: 0 10px;
  background: #1348e4;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.input-flabel.input-flabel_drop {
  width: auto;
  padding: 0 10px;
}

.input-group.w-65p .input {
  width: 65%;
}

.input-check {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.check-v2 {
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  opacity: 1;
  z-index: 1;
  opacity: 0.4;
  cursor: pointer;
}

.check-v2:checked {
  opacity: 1;
}

.input-group .label-check {
  position: relative;
  display: flex;
  gap: 12px;
  font-size: 16px;
  color: rgba(51, 51, 51, 0.8);
  cursor: pointer;
  user-select: none;
}

.label-check::before {
  content: '';
  display: block;
  width: 50px;
  height: 30px;
  background: rgba(19, 72, 228, 0.1);
  border-radius: 25px;
  z-index: 1;
  flex-shrink: 0;
  transition: 200ms ease-in-out;
}

.label-check::after {
  content: '';
  position: absolute;
  left: 23px;
  top: 3px;
  width: 24px;
  height: 24px;
  background: #ffffff;
  border-radius: 14px;
  z-index: 2;
  transition: left 200ms ease-in-out;
}

.input-check:checked + .label-check::before {
  background: #1348e4;
}

.input-check:checked + .label-check::after {
  left: 3px;
}

.input-group_check {
  display: flex;
  align-items: center;
}

.input-group_check .check-v2 {
  margin-right: 10px;
}

.input-group_check label {
  cursor: pointer;
}

.button {
  position: relative;
  /* width: 140px; */
  height: 44px;
  padding: 0 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: #ffffff;
  border: 1px solid #1348e4;
  font-family: 'Circular Std';
  font-weight: 900;
  font-size: 14px;
  color: #1348e4;
  text-transform: uppercase;
  box-sizing: border-box;
  text-decoration: none;
  cursor: pointer;
  transform-style: preserve-3d;
  z-index: 1;
  transition: 250ms ease-in-out;
}

.button:hover {
  background: #3c6dfe;
  border: 1px solid #1348e4;
  color: #ffffff;
}

.button.button-blue {
  background: #1348e4;
  color: #ffffff;
}

.button.button-blue:hover {
  background: #3c6dfe;
}

.button.button-grey {
  background: #00000008;
  color: #1348e4;
  font-weight: 400;
  border-color: transparent;
  text-transform: none;
}

.button.button-icon {
  min-width: 40px;
  height: 40px;
  padding: 0;
  border: 1px solid rgba(19, 72, 228, 0.2);
  background: none;
  color: #1348e4;
}

.button.button-border {
  background: none;
  border: 1px solid #1348e4;
  color: #1348e4;
}

.button.button-trans {
  background: none;
  border: none;
  color: #333333;
}

.button.h-40 {
  height: 40px;
}

.button.h-50 {
  height: 50px;
}

.text-center {
  text-align: center;
}

.title-comp {
  width: 100%;
  text-align: center;
}

.title-comp_main {
  font-size: 34px;
  color: #000000;
}

.title-comp_subtitle {
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
  color: rgba(51, 51, 51, 0.8);
}

.d-flex {
  display: flex;
}

.a-center {
  align-items: center;
}

.a-end {
  align-items: flex-end;
}

.j-between {
  justify-content: space-between;
}

.j-center {
  justify-content: center;
}

.j-end {
  justify-content: flex-end;
}

.shrink-0 {
  flex-shrink: 0;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.grid-1 {
  display: grid;
  grid-template-columns: 1fr;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-2_1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: flex-start;
}

.grid-1_2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: flex-start;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.gap-35 {
  gap: 35px;
}

.gap-40 {
  gap: 40px;
}

.gap-45 {
  gap: 45px;
}

.gap-50 {
  gap: 50px;
}

.gap-60 {
  gap: 60px;
}

.gap-20_10 {
  gap: 10px 20px;
}

.text-blue {
  color: #1348e4;
}

.text-blue_op8 {
  color: rgba(19, 72, 228, 0.8);
}

.text-red {
  color: #f26a6a;
}

.text-green {
  color: #4dc16e;
}

.bg-red {
  background: #f26a6a;
}

.w-auto {
  width: auto;
}

.w-40 {
  width: 40px;
}

.h-50 {
  height: 50px;
}

.w-75 {
  width: 75px;
}

.w-130 {
  width: 130px;
}

.max-360 {
  max-width: 360px;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-24 {
  font-size: 24px;
}

.fs-35 {
  font-size: 35px;
}

.mr-3 {
  margin-right: 3px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-75 {
  margin-bottom: 75px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-10m {
  margin-top: -10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

.op-3308 {
  color: rgba(51, 51, 51, 0.8);
  font-size: 16px;
}

.op-3304 {
  color: rgba(51, 51, 51, 0.4);
}

.op-3305 {
  color: rgba(51, 51, 51, 0.5);
}

.display-xs {
  display: none;
}

.custom-select {
  position: relative;
}

.custom-select.select-absolute {
  position: absolute;
  top: 4px;
  right: 4px;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: rgba(19, 72, 228, 0.9);
}

.select-selected::after {
  content: '';
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
  width: 32px;
  height: 32px;
  background: url('/icons/icon-down_group.svg');
  cursor: pointer;
  z-index: 0;
}

.select-selected::before {
  display: none;
}

.select-selected.select-arrow-active::after {
  transform: rotate(180deg);
}

.select-selected {
  width: 100%;
  height: 40px;
  padding: 8px 10px 10px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.select-items div {
  font-size: 16px;
  color: #000000;
  padding: 5px 10px;
  cursor: pointer;
}

.select-items {
  position: absolute;
  top: calc(100% + 4px);
  width: 100%;
  right: 0;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 15px rgba(84, 84, 84, 0.05);
  border-radius: 5px;
  z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(19, 72, 228, 0.1);
}

.custom-theme .select-selected::after {
  display: none;
}

.custom-theme .select-selected::before {
  content: '';
  display: block;
  width: 12px;
  height: 7px;
  margin-right: 10px;
  background: url('/icons/icon-down.svg');
  border: none;
}

.custom-theme .select-selected.select-arrow-active::before {
  transform: rotate(180deg);
}

.custom-theme .select-selected {
  height: 32px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  background: #1348e4;
  border-radius: 3px;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
}

.custom-theme .select-items {
  text-align: right;
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }

  .grid-3,
  .grid-2,
  .grid-2_1,
  .grid-1_2 {
    grid-template-columns: 100%;
  }

  .gap-xs-40 {
    gap: 40px;
  }

  .gap-xs-20 {
    gap: 20px;
  }

  .display-xs {
    display: block;
  }

  .column-xs {
    flex-direction: column;
  }

  .a-xs-start {
    align-items: flex-start;
  }

  .j-xs-start {
    justify-content: flex-start;
  }

  .input-group.w-65p .input {
    width: 100%;
  }
}
