* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox 64 */
}

*:focus {
  outline: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;
  /* transition: #ffffff 5000s ease-in-out 0s; */
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

li {
  list-style: none;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Circular Std';
  font-weight: 400;
  font-size: 18px;
  color: #333333;
  /* overflow-x: hidden; */
}

body::-webkit-scrollbar {
  width: 8px;
  /* display: none; */
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgb(255 255 255);
  background: #e3e9ff;
}

body::-webkit-scrollbar-thumb {
  background-color: #1348e4;
  outline: 1px solid #e4eafe;
}

/* DASHBOARD PARTIALS */
.dashboard-page {
  position: relative;
  width: 100%;
  background: #fafaff;
}

header {
  position: relative;
  width: 100%;
  z-index: 100;
}

.header-container {
  height: 60px;
  background: #1348e4;
}

.dark-header .header-container {
  background: #333333;
}

.header-container .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logout {
  position: relative;
}

.header-logout .header-logout_icon {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  cursor: pointer;
}

.header-logout_drop {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  width: 186px;
  height: 40px;
  padding: 10px 15px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 15px rgba(84, 84, 84, 0.05);
  border-radius: 5px;
  text-decoration: none;
  opacity: 0;
  z-index: 99;
  transition: opacity 200ms ease-in-out;
}

.header-logout_drop a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.header-logout.open-drop .header-logout_drop {
  display: block;
  opacity: 1;
}

.header-logout.open-drop .header-logout_icon i {
  transform: rotate(180deg);
}

.header-user {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-user span {
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}

.header-user_avatar {
  position: relative;
  width: 48px;
  height: 48px;
  background: #ffffff;
  border-radius: 50%;
}

.auth-page .header-container {
  height: 80px;
  padding: 0 20px 0 30px;
  background: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dahsboard-navigation {
  width: 100%;
  height: 50px;
  display: flex;
  background: #ffffff;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.dahsboard-navigation .container {
  height: 100%;
}

.dahsboard-navigation .dahsboard-navigation_list {
  height: 100%;
  display: flex;
}

.dahsboard-navigation_list .navigation-list_link {
  position: relative;
  height: 100%;
  flex-shrink: 0;
}

.dahsboard-navigation_list .navigation-list_link a {
  height: 100%;
  padding: 15px 15px 14px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-bottom: 1px solid transparent;
  font-weight: 400;
  font-size: 16px;
  color: rgba(51, 51, 51, 0.7);
  text-decoration: none;
  cursor: pointer;
}

.dahsboard-navigation_list .navigation-list_link:first-child {
  margin-left: -15px;
}

.dahsboard-navigation_list .navigation-list_link:last-child {
  margin-left: auto;
}

.navigation-list_link.active i,
.navigation-list_link:hover i {
  background: url('/icons/icon-dash_active.svg');
}

.dahsboard-navigation_list .navigation-list_link.active,
.dahsboard-navigation_list .navigation-list_link:hover a {
  color: #1348e4;
}

.dahsboard-navigation_list .navigation-list_link.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background: #1348e4;
  border-radius: 3px 3px 0px 0px;
}

footer {
  position: relative;
  height: 50px;
  background: #ffffff;
  color: rgba(0, 0, 0, 0.5);
}

footer .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-navigation {
  display: flex;
  gap: 40px;
}

.footer-navigation_link a {
  font-size: 17px;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.dashboard-container {
  min-height: calc(100vh - 160px);
  padding: 30px 0 100px;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  footer {
    height: auto;
    padding: 20px 0;
  }

  .dahsboard-navigation {
    display: none;
  }

  .header-user span {
    display: none;
  }

  .footer-navigation,
  footer .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-navigation {
    gap: 20px;
    margin-bottom: 50px;
  }

  footer .d-flex {
    width: 100%;
    justify-content: space-between;
  }
}
/* DASHBOARD PARTIALS */

/* TRANSACTION PAGE */
.transaction-page {
  width: 100%;
}

.transaction-table {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.transaction-table td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.transaction-table_head td {
  padding-bottom: 10px;
  font-size: 16px;
  color: rgba(51, 51, 51, 0.8);
}

.transaction-table_body td {
  padding: 10px 0 9px;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
}

.transaction-table .txid-col {
  display: flex;
  align-items: center;
  gap: 8px;
}

.transaction-table .tr-small {
  font-size: 14px;
  line-height: 18px;
  color: rgba(51, 51, 51, 0.5);
  display: flex;
  align-items: center;
  gap: 6px;
}

.transaction-table .tr-small i.icon-info {
  margin-top: -3px;
  cursor: pointer;
}

.transaction-table span {
  display: block;
}

.transaction-table .action-col {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.transaction-table .from-col span:first-child {
  max-width: 115px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.transaction-table .tokens,
.transaction-table .amount {
  width: 12%;
}

.transaction-table .action {
  width: 17%;
}

.transaction-table .type {
  width: 10%;
}

.transaction-table .from {
  width: 17%;
}

.transaction-table .txid {
  width: 15%;
}

.dt-table .transaction-table_body td {
  padding: 4px 0 4px;
}

.dt-table .transaction-table_head td {
  padding-bottom: 4px;
}

.dp-token_sale {
  position: relative;
  padding-right: 10px;
}

.dp-token_sale .ui-vertical {
  position: absolute;
  right: -15px;
  top: 0;
  bottom: 0;
}

.dashboard-rates {
  position: relative;
}

.dashboard-rates .ui-vertical {
  position: absolute;
  left: 50%;
  top: 20px;
  bottom: 20px;
  height: auto;
  transform: translateX(-50%);
}

.transaction-modal {
}

.trans-border {
  padding: 0 10px 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 5px;
}

.trans-list_rows .trans-row {
  padding: 10px 0 9px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 2px;
}

.trans-list_rows .trans-row.trans-row_triple {
  grid-template-columns: 1fr 1fr 1fr;
}

.trans-list_rows .trans-row:last-child {
  border-bottom: none;
}

.trans-row span {
  font-size: 16px;
}

.trans-row .trans-row_val {
  color: rgba(51, 51, 51, 0.8);
}

.trans-dts {
  position: relative;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.trans-border .trans-dts::before {
  content: '';
  position: absolute;
  left: -9px;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 30px;
  background: rgba(0, 0, 0, 0.2);
}

.trans-border .trans-dts:first-child:before {
  display: none;
}

@media screen and (max-width: 1024px) {
  .dashboard-rates .ui-vertical {
    display: none;
  }

  .dashboard-rates .ui-line {
    position: absolute;
    left: 20px;
    right: 20px;
    width: auto;
    top: 199px;
  }

  .transaction-table_container {
    max-width: 100%;
    padding-bottom: 15px;
    overflow-x: scroll;
  }

  .transaction-table_container .transaction-table {
    min-width: 1180px;
  }

  .trans-list_rows .trans-row {
    grid-template-columns: 1fr;
  }

  .trans-list_rows .trans-row.trans-row_triple {
    grid-template-columns: 1fr;
  }
}
/* TRANSACTION PAGE */

/* ICO PAGE */
.ico-page a {
  color: #1348e4;
  text-decoration: none;
}

.ico-group {
  position: relative;
}

.ico-group p {
  font-size: 16px;
}

.ico-group .ico-group_title {
  font-weight: 500;
  font-size: 18px;
}

.ico-group_content.grid-3 {
  grid-template-columns: 1fr 1fr 180px;
  gap: 30px 0;
}

.ico-schedule_col .schedule-col_top {
  height: 32px;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  gap: 17px;
}

.schedule-col_title {
  font-weight: 500;
  font-size: 18px;
  color: #1348e4;
}

.schedule-col_start {
  margin-bottom: 5px;
}

.ico-schedule_last {
  margin-top: auto;
}

.ico-schedule_line {
  grid-column: 1 / 4;
}

.ico-page .button-bonus {
  width: 160px;
  height: 50px;
  font-weight: 400;
  font-size: 24px;
  text-transform: none;
}

.ico-note {
  font-size: 14px;
  color: rgba(51, 51, 51, 0.5);
}

@media screen and (max-width: 1024px) {
  .ico-schedule_line {
    grid-column: 1;
  }

  .ico-group_content.grid-3 {
    grid-template-columns: 1fr;
    gap: 30px 0;
  }
}
/* ICO PAGE */

/* BUY TOKENS PAGE */
.buy-token_page {
}

.buy-token_page .tokens-list {
  width: 100%;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6px;
}

.tokens-list .tokens-list_item {
  height: 40px;
  padding: 0 15px 0 12px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(19, 72, 228, 0.2);
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
}

.tokens-list_item .tokens-name {
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
}

.tokens-list_item i {
  margin-right: 10px;
}

.tokens-list_item .tokens-value {
  margin-left: auto;
  font-size: 16px;
  font-weight: 450;
}

.tokens-list_item.active {
  border: 2px solid #1348e4;
}

.tokens-list_item.active .tokens-name {
  color: #1348e4;
}

.tokens-list_item.active i {
  background: #1348e4;
}

.buy-tokens_step .input {
  width: 210px;
}

.buy-tokens_step .smaller {
  font-size: 16px;
}

.buy-tokens_step .icon-info {
  background: #f26a6a;
}

.buy-modal {
}

.buy-modal_row {
  display: flex;
  align-items: center;
}

.buy-modal_row .trans-list_rows {
  flex-basis: 100%;
}

.buy-modal_row .trans-list_rows .trans-row {
  grid-template-columns: 1fr 1.5fr;
}

.qr-code {
  position: relative;
  width: 190px;
  height: 190px;
  margin-right: 10px;
  flex-shrink: 0;
}

@media screen and (max-width: 1024px) {
  .buy-token_page .tokens-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 7px;
  }

  .tokens-list .tokens-list_item {
    height: auto;
    padding: 9px;
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-template-areas:
      'icon name'
      'value value';
    gap: 10px;
  }

  .tokens-list .tokens-list_item i {
    grid-area: icon;
  }

  .tokens-list .tokens-list_item .tokens-name {
    grid-area: name;
  }

  .tokens-list .tokens-list_item .tokens-value {
    grid-area: value;
    margin-left: 0;
  }

  .buy-modal_row {
    flex-direction: column;
    align-items: flex-start;
  }

  .buy-modal_row .trans-list_rows .trans-row {
    grid-template-columns: 1fr;
  }
}
/* BUY TOKENS PAGE */

/* TOKEN BALANCE */
.token-balance {
  position: relative;
  padding: 20px 20px 30px;
  background: #333333;
  box-shadow: 0px 5px 15px rgba(84, 84, 84, 0.05);
  border-radius: 10px;
}

.token-balance_container {
}

.token-balance_top {
  padding-bottom: 19px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(255, 2552, 255, 0.2);
  display: flex;
  gap: 17px;
}

.token-balance_logo {
  width: 60px;
  height: 60px;
}

.token-balance_numbers {
  padding-top: 10px;
}

.token-balance_title {
  font-size: 16px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.5);
}

.token-balance_value {
  font-weight: 500;
  font-size: 24px;
  color: #acc1ff;
}

.token-balance_value .smaller {
  font-size: 16px;
}

.token-balance_contr .token-balance_value {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

.token-balance_contr .token-balance_value span {
  display: flex;
}

@media screen and (max-width: 1024px) {
  .token-balance_contr .token-balance_value span {
    display: block;
  }
}
/* TOKEN BALANCE */

/* TOKEN PRE-SALE */
.token-presale {
}

.tp-title {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.tp-title p {
  font-weight: 500;
  font-size: 18px;
}

.tp-title span {
  font-size: 14px;
  color: rgba(51, 51, 51, 0.5);
}

.tp-group .tp-group_title {
  font-weight: 600;
  font-size: 16px;
  color: rgba(51, 51, 51, 0.5);
}

.tp-group .tp-group_value {
  font-size: 24px;
}

.tp-group .tp-group_value.value_v2 {
  font-size: 16px;
}

.tp-group .tp-group_value .smaller {
  font-size: 16px;
}

.tp-progress_row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.tp-progress_text {
  font-size: 16px;
  color: rgba(51, 51, 51, 0.8);
}

.tp-progress_value {
  font-size: 16px;
  color: #1348e4;
}

.tp-progress_value span {
  color: rgba(51, 51, 51, 0.5);
}

.tp-progress_value.progress-blue {
  color: rgba(19, 72, 228, 0.5);
}

.tp-progress_value.progress-yellow {
  color: #ffc56d;
}

.tp-progress_line {
  position: relative;
  width: 100%;
  margin-bottom: 5px;
  /* display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 10px; */
}

.tp-progress_line > div {
  position: relative;
  height: 5px;
  background: rgba(19, 72, 228, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

.tp-progress_line > div span {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

.tp-progress_line .tp-progress_soft-cap span,
.tp-progress_line .tp-progress_center span,
.tp-progress_line .tp-progress_hard-cap span {
  background: #1348e4;
  border-radius: 5px;
}

.tp-progress_line .tp-progress_hard-cap {
  background: #ffedc0;
}

.tp-timer {
}

.tp-timet_title {
  margin-bottom: 10px;
  font-size: 16px;
  color: rgba(51, 51, 51, 0.8);
}

.tp-timer_grid {
  position: relative;
  left: -20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.tp-timer_col {
  text-align: center;
}

.tp-timer_col-time {
  font-weight: 400;
  font-size: 36px;
  letter-spacing: 0.1em;
  color: #000000;
}

.tp-timer_col-time {
  width: 100%;
  display: block;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.tp-timer_col-type {
  font-weight: 400;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.5);
}

.tp-timer_grid .tp-timer_col:last-child .tp-timer_col-time {
  border-right: none;
}

@media screen and (max-width: 1024px) {
  .tp-timer_grid {
    left: -10px;
  }
}
/* TOKEN PRE-SALE */

/* DASHBOARD PAGE */
.main-page .token-balance,
.main-page .dashboard-transaction {
  height: 100%;
}

.dashboard-token {
  text-align: center;
}

.dashboard-token_logo {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.dashboard-token_rate {
  width: 100%;
  padding: 5px 0 11px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  filter: drop-shadow(0px 5px 15px rgba(84, 84, 84, 0.05));
  border-radius: 5px;
}

.dashboard-token_info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.token-info_row {
  display: grid;
  grid-template-columns: 130px 1fr;
  gap: 2px;
}

.dashboard-token_info .dashboard-token_info-download {
  margin-top: auto;
  display: flex;
}

.dashboard-progress {
  grid-column: 1 / 3;
}

.dashboard-calculator .relative {
  max-width: 170px;
}

.dashboard-calculator .input {
  width: 100%;
}

.dashboard-calculator .to-sors {
  white-space: nowrap;
  padding: 0 0 5px;
}

.dt-table .ui-label {
  width: 100px;
  margin-left: auto;
}

.dp-graph #saleGraph {
  width: 100%;
  height: 205px;
}

.dashboard-calculator .input-flabel {
  width: 72px;
}

@media screen and (max-width: 1024px) {
  .dt-table_container {
    max-width: 100%;
    padding-bottom: 15px;
    overflow-x: scroll;
  }

  .dt-table {
    min-width: 740px;
  }

  .dashboard-progress {
    grid-column: 1 / 2;
  }

  .dashboard-token_info .dashboard-token_info-download {
    margin-top: 20px;
  }

  .dp-graph {
    max-width: 100%;
    overflow-x: scroll;
  }

  .dp-graph #saleGraph {
  }
}
/* DASHBOARD PAGE */

/* PROFILE PAGE */
.profile-page .profile-wallet span {
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  color: rgba(51, 51, 51, 0.8);
  max-width: 160px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.profile-data .profile-tabs {
  position: relative;
  width: 100%;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px 5px 15px rgba(84, 84, 84, 0.05);
  border-radius: 2px;
}

.profile-tabs .profile-tabs_item {
  position: relative;
  width: 130px;
  font-size: 16px;
  color: rgba(51, 51, 51, 0.7);
  padding: 0 10px 10px;
  text-align: center;
  transition: 250ms ease-in-out;
  cursor: pointer;
  user-select: none;
}

.profile-tabs .profile-tabs_item.tab-active,
.profile-tabs .profile-tabs_item:hover {
  color: #1348e4;
}

.profile-tabs .profile-tabs_item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: #1348e4;
  border-radius: 3px 3px 0px 0px;
  opacity: 0;
  transition: 200ms ease-out;
}

.profile-tabs .profile-tabs_item.tab-active::after {
  opacity: 1;
}

.profile-tab {
  width: 100%;
}

.profile-tab .input {
  position: relative;
  width: 100%;
  padding-right: 15px;
}

.profile-tab .input-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  z-index: 1;
}

.input-select_relative::after {
  content: '';
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
  width: 32px;
  height: 32px;
  background: url('/icons/icon-down_group.svg');
  cursor: pointer;
  z-index: 0;
}

.profile-tab_full {
  grid-column: 1 / 3;
}

@media screen and (max-width: 1024px) {
  .profile-tab_full {
    grid-column: 1;
  }

  .profile-data .profile-tabs {
    max-width: calc(100vw - 60px);
    overflow-x: scroll;
  }

  .profile-tabs .profile-tabs_item {
    white-space: nowrap;
  }
}
/* PROFILE PAGE */

/* AUTH PAGE */
.auth-container {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 80px);
  padding: 30px 10px 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1f1f1;
  box-sizing: border-box;
}

.auth-form .auth-form_title,
.auth-form .auth-form_subtitle {
  text-align: center;
}

.auth-form .auth-form_check {
  width: 300px;
  height: 40px;
  margin: 0 auto 20px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-sizing: border-box;
}

.auth-form_form {
  padding: 20px 30px;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0 5px 20px rgba(84, 84, 84, 0.05);
  border-radius: 5px;
}

.auth-form_form .input {
  width: 100%;
}

.auth-form_form.auth-login {
  max-width: 380px;
}

.auth-form_form.auth-signup {
  max-width: 500px;
  width: 100%;
}

.auth-form_link {
  font-size: 16px;
  color: #3f6ae6;
  text-decoration: none;
}

.auth-page .input {
  padding: 10px 15px 8px;
}

.auth-form_form .button {
  max-width: 300px;
  width: 100%;
  margin: 0 auto 20px;
}
/* AUTH PAGE */

/* FAQ PAGE */
.faq-list {
  width: 100%;
}

.faq-item {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
}

.faq-item:hover {
  border-color: rgba(0, 0, 0, 0.1);
}

.faq-item .content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.faq-item .faq-item_title {
  position: relative;
  padding: 16px 15px 20px 50px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.faq-item .faq-text {
  padding: 0 11px 25px 50px;
  font-size: 14px;
  color: rgba(51, 51, 51, 0.5);
}

.faq-item .faq-item_title::before {
  content: '';
  position: absolute;
  left: 15px;
  top: 24px;
  height: 2px;
  width: 17px;
  background: rgba(0, 0, 0, 0.2);
}

.faq-item .faq-item_title::after {
  content: '';
  position: absolute;
  left: 23px;
  top: 16px;
  height: 17px;
  width: 2px;
  background: rgba(0, 0, 0, 0.2);
  transition: transform 190ms ease-out;
}

.faq-item_title.active::after {
  transform: rotate(90deg);
}
/* FAQ PAGE */

/* KYC PAGE */
.kyc-page {
  padding: 0 10px;
}

.kyc-container {
  max-width: 780px;
  margin: 0 auto;
  box-sizing: border-box;
}

.kyc-form .input {
  width: 100%;
}

.kyc-doctype {
  height: 40px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(19, 72, 228, 0.2);
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
}

.kyc-doctype span {
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  user-select: none;
}

.kyc-doctype.active {
  border: 2px solid #1348e4;
}

.kyc-doctype.active span {
  color: #1348e4;
}

.kyc-checks {
  padding-left: 30px;
}

.kyc-checks .kyc-checks_item {
  font-size: 16px;
  list-style-image: url('/icons/icon-check.svg');
}

.kyc-checks .kyc-checks_item:not(:last-child) {
  margin-bottom: 10px;
}

.kyc-drop {
  position: relative;
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  border-radius: 5px;
}

.kyc-drop input[type='file'] {
  position: absolute;
  outline: 0;
  opacity: 0;
  pointer-events: none;
  user-select: none;
}

.kyc-drop label {
  width: 100%;
  height: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: pointer;
}

.kyc-drop label .title {
  font-size: 16px;
  color: rgba(51, 51, 51, 0.5);
}

.kyc-drop label .button {
  color: #000000;
}

.kyc-drop label .button:hover {
  color: #ffffff;
}

.kyc-drop_group {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: 250ms ease-in-out;
}

.kyc-drop_group.file-added {
  border: 2px solid rgb(107 202 105);
}

.kyc-80center {
  max-width: 80%;
  margin: 0 auto 20px;
}

.kyc-verify {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
/* KYC PAGE */

/* UI COMPONENTS */
.ui-bar {
  position: relative;
  padding: 0 20px;
  background: #ffffff;
  box-shadow: 0px 5px 15px rgba(84, 84, 84, 0.05);
  border-radius: 10px;
  box-sizing: border-box;
}

.ui-bar_head {
  width: 100%;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ui-bar_head .ui-bar_head-title {
  font-weight: 500;
  font-size: 18px;
  color: #333333;
}

.ui-bar.px-10 {
  padding: 0 10px;
}

.ui-bar.pr-30 {
  padding-right: 30px;
}

.ui-bar_body.py-20 {
  padding: 20px 0;
}

.ui-pagination {
  position: relative;
  width: 100%;
}

.ui-pagination_container {
  width: 100%;
  padding: 20px 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ui-pagination_controls {
  display: flex;
  gap: 5px;
}

.ui-pagination_controls .button-icon:hover,
.ui-pagination_controls .button-icon.active {
  background: #1348e4;
  color: #ffffff;
}

.ui-pagination_totals {
  color: rgba(51, 51, 51, 0.8);
  font-size: 16px;
}

.ui-label {
  /* width: 100px; */
  padding: 0 12px;
  height: 32px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  user-select: none;
  white-space: nowrap;
}

.ui-label.label-green {
  color: #6bca69;
  background: rgba(107, 202, 105, 0.1);
}

.ui-label.label-yellow {
  color: #ffc56d;
  background: rgba(255, 197, 109, 0.1);
}

.ui-label.label-grey {
  color: rgba(51, 51, 51, 0.5);
  background: rgba(51, 51, 51, 0.05);
}

.ui-label.label-blue {
  color: #1348e4;
  background: rgba(19, 72, 228, 0.1);
}

.ui-label.label-soft {
  font-size: 18px;
  font-weight: 400;
  text-transform: none;
}

.ui-line {
  width: 100%;
  height: 2px;
  background: rgba(0, 0, 0, 0.05);
  box-shadow: 0px 5px 15px rgba(84, 84, 84, 0.05);
  border-radius: 2px;
}

.ui-vertical {
  width: 2px;
  height: 100%;
  background: rgba(0, 0, 0, 0.05);
  box-shadow: 0px 5px 15px rgba(84, 84, 84, 0.05);
  border-radius: 2px;
}

.ui-alert {
  width: 100%;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0px 5px 15px rgba(84, 84, 84, 0.05);
  border-radius: 10px;
  cursor: pointer;
}

.ui-alert .ui-alert_text {
  font-weight: 500;
  font-size: 18px;
}

.ui-alert.alert-red {
  background: #f26a6a;
  color: #ffffff;
}

.ui-modal {
  position: fixed;
  top: 0;
  left: -100%;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 9999;
  transition: opacity 250ms ease-out;
}

.ui-modal_overlay {
  max-width: 780px;
  width: 100%;
}

.ui-modal i {
  flex-shrink: 0;
}

.ui-modal .icon-close {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 100;
  cursor: pointer;
}

.ui-modal.ui-modal_open {
  left: 0;
  opacity: 1;
}

.ui-drop {
  height: 32px;
  padding: 0 10px;
  background: #1348e4;
  border-radius: 3px;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
}

@media screen and (max-height: 790px) {
  .ui-modal {
    align-items: flex-start;
    padding: 100px 0;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 1024px) {
  .ui-alert .ui-alert_text {
    display: flex;
    align-items: center;
  }

  .ui-modal_overlay {
    width: calc(100% - 20px);
  }

  .ui-pagination_container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .ui-pagination_controls {
    width: 100%;
    justify-content: center;
  }
}
/* UI COMPONENTS */
